@import url('https://fonts.googleapis.com/css?family=Roboto');

$roboto: 'Roboto';
$font-family-base: $roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;

// variables

$pink: rgb(255, 0, 191);
$mulberry: rgb(53, 35, 132);
$charcoal: rgb(51, 52, 71);
$bone: rgb(243, 243, 245);


$gray-dark:                 $charcoal;
$gray:                      #55595c;
$gray-light:                #818a91;
$gray-lighter:              #eceeef;
$gray-lightest:             #f7f7f9;

$brand-primary:             $pink;
$brand-success:             #5cb85c;
$brand-info:                $mulberry;
$brand-warning:             #f0ad4e;
$brand-danger:              #d9534f;
$brand-inverse:             $gray-dark;

@import '../components/bootstrap/scss/bootstrap';

.json-pretty{
  border-radius: 10px;
  line-height: 1.3;
  color: $gray;
  background: $charcoal;
  padding: 15px;
}

.json-pretty .json-key {
  color: $pink;
}

.json-pretty .json-value {
  color: $gray-light;
}

.json-pretty .json-string {
  color: $gray-light;
}

* {
  box-sizing: border-box;
}

body {
  width: 100%;
}

.page-container {
  width: 100%;
  margin: 0 auto;
  max-width: 85%;
}

.bg-faded {
  background: $bone;
}

nav.navbar {
  background: $pink;
  color: #fff;
  border-radius: 0;

  a {
    color: #fff;
  }
}

.card-title {
  .btn {
    float: right;
  }
}

.page-content {
  @include make-col(12);
}

.main {
  padding-top: 20px;
}

.intro {
  text-align: center;
  width: 100%;
  h2 {
    font-size: 30px;
    display: block;
    margin: 0 0 20px;
  }
  p {
    margin: 0;
  }
}

.card-response {

  &__content {
    margin: 0;
  }

  &__title {
    @extend .clearfix;
    margin-bottom: 15px;
    line-height: 27px;
  }

  &__button {
    @extend .btn;
    @extend .btn-sm;
    @extend .btn-secondary;
    float: right;
  }
}

.tip {
  padding: 5px;
  color: $gray-light;
  font-size: 12px;
  line-height: 17px;
}
//
// .card {
//   clear: both;
//   display: inline-block;
//   width: 100%;
//   margin-top: 15px;
// }

#map,
.map {
  width: 100%;
  height: 500px;
  margin-bottom: 2rem;
  overflow: hidden;
}

.map__input {
  margin-top: 15px;
  float: left;
  width: 100%;
  clear: both;

  input {
    @extend .form-control;
  }
}

.api-module {
  @extend .clearfix;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  background: $gray-lightest;
  &__title {
    @extend .clearfix;
    margin: 0 0 20px;
    a {
      @extend .btn;
      @extend .btn-sm;
      @extend .btn-primary;
      float: right;
    }
  }
  form {
    .form-group:last-child {
      margin-bottom: 0;
    }
  }
}

.form-inline__meta {
  padding-bottom: 15px;
  strong {
    border-radius: 5px;
    margin: 0 5px;
    padding: 5px;
    background: $gray-lighter;
  }
}

.pin {
  position: absolute;
  text-indent: -9999px;
  display: block;
  background: transparent url(https://s3.amazonaws.com/api.lyft.com/assets/car_standard.png) no-repeat scroll top left;
  background-size: 35px 28px;
  width: 35px;
  height: 28px;
}

.spinner {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.2);

  &__inner {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    span {
      display: inline-block;
    }
  }
}
